*{
	font-family: Verdana;
	font-size: 17px;
} 
body {
	margin:0;
	padding:0;
	margin-top: 0;
	background-color:#353535;
}

footer {
	height:50px;
	width: 1000px
	line-height:50px;
	font-size:15px;
	color:white;
}
.topo{
	height:50px;
	background-color:#353535;
}
.topoint{
	width: 1000px;
	margin:auto;
	color:#FFFFFF;
}
.nomeestacionamento{
	float:left;
	font-size:15px;
	line-height: 50px; 
}
.regentsaida{
	line-height: 50px;
	cursor:pointer;
	float:right;
	}
.area{
	height: 300px
	background-color:#347aba;
}
.areaint{
	width: 1000px;
	margin:auto;
	background-color:#373f42;
}
.imglogo{
	width: 200px;
}
.areamenu {
	background-color:#373f42;
	max-width: 200px;
	height:400px;
	float:left;
}
.menu ul,.menu li {
	margin:0;
	padding:0; 
	list-style: none;
	padding-left: 10px;
	padding-right: 0px;
	cursor:pointer;
	color:white;
}
.menu li:hover{
	background-color: #ffe200;
}
.corpo{
	background-color: white;
	width:800px;
	float:right;
}
.img-int{
	float:left;
}
.corpoint{
	max-width:800px;
	height:50px; 
	line-height:50px;
	margin:auto;
}
.textcorpoint{
	float: left;
}
.entrada{
	margin-left:10px;
}
